DEBUG=True
SECRET_KEY=django-insecure-development-key-change-this-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,api

POSTGRES_DB=agriconnect_db
POSTGRES_USER=agriconnect_user
POSTGRES_PASSWORD=agriconnect_pass
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432